<main class="wrapper_main main">
    <section class="reports">
        <h2 class="head_middle">Report</h2>
        <div class="tab tab_reports">
            <a id="day" class="tab__item" href="#/reports/day/tasks">
                Day
            </a>
            <a id="week" class="tab__item" href="#/reports/week/tasks">
                Week
            </a>
            <a id="month" class="tab__item"  href="#/reports/month/tasks">
                Month
            </a>
        </div>
        <div class="reports__chart">
                {{!-- <div class="report__chart_tasks">
                    <div class="reports__day-tasks">
                        <a class="arrow arrow_left" data-title="Back to global list" href="#task-list-global-list">
                            <span class="icon-arrow-left"></span>
                        </a>
                        <img alt="chart" src="/images/day-report-tasks.png">
                        <div class="arrow arrow_right">
                            <span class="icon-arrow-right"></span>
                        </div>
                    </div>
                </div> --}}
        </div>
    </section>
</main>
<footer class="footer reports__footer">
    <div class="tab tab_reports">
        <a class="tab__item tab__item_pomodoros"  href="#/reports-pomodoros">
            Pomodoros
        </a>
        <a class="tab__item tab__item_tasks white" href="#/reports-tasks">
            Tasks
        </a>
    </div>
</footer>

