         <li class="task-list__item task-list__item_{{category}}">
                        <div class="task-list__trash task-list__trash_hobby">
                            <a href="#/task-list-remove-task">
                                <span class="icon-trash trash"></span>
                                <span class="icon-close close"></span>
                            </a>
                        </div>
                        <span class="task-list__content">
                            <p class="task-list__title task-list__title_{{importance}}">Lorem ipsum sit amet</p>
                            <p class="task-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore</p>
                        </span>
                        <a class="task-list__link" data-title="Edit task" href="task-list-edit-task.html"><span
                                class="icon-edit"></span></a></span>
                        <span class="task-list__pomodoros task-list__pomodoros_{{importance}} pomodoros">
                            <p class="pomodoros__digit">3</p>
                            <a class="task-list__image pomodoros__image" href="#/timer" data-title="Go to Timer">
                                <span class="icon-tomato"></span>
                                <span class="icon-timer"></span>
                            </a>
                        </span>
                    </li>