<main class="wrapper_main main">
    <section class="wrapper__section categories">
        <h2 class="categories__head head_middle">Settings</h2>
        <p class="categories__subhead subhead">Сategories list overview</p>
        <div class="categories__tab tab">
            <a class="tab__item" href="">
                Pomodoros
            </a>
            <a class="tab__item white" href="">
                Categories
            </a>
        </div>
        <ul class="categories__list">
        </ul>
        <div class="categories__buttons">
        </div>
    </section>
</main>