<main class="main">
    <section class="task-list">
        <h2 class="head_middle">
            <a href="">Daily Task List +</a>
        </h2>

        <div class="first-message">
            <img class="first-message__image"src="/images/tomato_settings.svg" alt="tomato settings">
            <p class="first-message__title">
                As you visited our site for a first time you can check and customize your default application settings
            </p> 
        </div>
    </section>
    
    <footer>
    </footer>
</main>
