 <div class="modal">
                    <div class="edit-task edit-mode">
                        <span class="edit-task__icons">
                            <a class="edit-task__link" href=""><span class="edit-task__icon icon-trash"></span></a>
                            <a class="edit-task__link" href=""><span class="edit-task__icon icon-close"></span></a>
                            <a class="edit-task__link" href=""><span class="edit-task__icon icon-check"></span></a>
                        </span>
                        <h2 class="edit-task__head head_middle">Edit task</h3>
                            <h3 class="edit-task__title edit-task__subhead">Title</h3>
                            <input class="edit-task__title-desc desc" placeholder="Creating a new design"></input>
                            <h3 class="edit-task__decription edit-task__subhead">Description</h3>
                            <input class="edit-task__description-desc desc" placeholder="Add description here"></input>
                            <h3 class="edit-task__category edit-task__subhead">Category</h3>
                            <div class="edit-task__radio desc">
                                <input type="radio" id="work-radio" name="category" value="work" checked>
                                <label class="label label_work" for="work-radio">Work</label>
    
                                <input type="radio" id="education-radio" name="category" value="education">
                                <label class="label label_education" for="education-radio">Education</label>
    
                                <input type="radio" id="hobby-radio" name="category" value="hobby">
                                <label class="label label_hobby" for="hobby-radio">Hobby</label>
    
                                <input type="radio" id="sport-radio" name="category" value="sport">
                                <label class="label label_sport" for="sport-radio">Sport</label>
    
                                <input type="radio" id="other-radio" name="category" value="other">
                                <label class="label label_other" for="other-radio">Other</label>
    
                            </div>
                            <h3 class="add-tak__deadline edit-task__subhead">Deadline</h3>
                            <input class="add-tak__deadline-desc desc" placeholder="May 23, 2016"></input>
                            <h3 class="add-tak__estimation edit-task__subhead">ESTIMATION</h3>
                            <div class="add-tak__estimation-desc desc">
                                <div class="edit-task_pomodoros">
                                    <img class="pomodoros__item" src="/images/fill tomato.svg" alt="fill tomato">
                                    <img class="pomodoros__item" src="/images/fill tomato.svg" alt="fill tomato">
                                    <img class="pomodoros__item" src="/images/fill tomato.svg" alt="fill tomato">
                                    <img class="pomodoros__item" src="/images/empty-tomato.svg" alt="empty tomato">
                                    <img class="pomodoros__item" src="/images/empty-tomato.svg" alt="empty tomato">
                                </div>
                            </div>
                            <h3 class="add-tak__priority edit-task__subhead">Priority</h3>
                            <div class="edit-task__radio desc">
                                <input type="radio" id="urgent-radio" name="priority" value="urgent" checked>
                                <label class="label label_urgent" for="urgent-radio">Urgent</label>
    
                                <input type="radio" id="high-radio" name="priority" value="high">
                                <label class="label label_high" for="high-radio">High</label>
    
                                <input type="radio" id="middle-radio" name="priority" value="middle">
                                <label class="label label_middle" for="middle-radio">Middle</label>
    
                                <input type="radio" id="low-radio" name="priority" value="low">
                                <label class="label label_low" for="low-radio">Low</label>
    
                            </div>
                    </div>
                </div>