 <div class="modal">
                    <div class="remove-task">
                        <span class="remove-task__icons">
                            <a class="remove-task__link" href=""><span class="remove-task__icon icon-close"></span></a>
                            <!-- <a class="remove-task__link" href=""><span class="remove-task__icon icon-check"></span></a> -->
                        </span>
                        <h2 class="head_middle remove-task__head">Remove task</h3>
                            <div class="remove-task__content">
                                Are you sure you want to remove selected task(s)?
                            </div>
                            <div class="remove-task__buttons">
                                <button class="button button_ok"
                                    onclick="window.location.href='#/task-list-remove-mode'">Cancel</button>
                                <button class="button button_cancel"
                                    onclick="window.location.href='#/task-list-remove-mode'">Remove</button>
                            </div>
                    </div>
                </div>