
        <main class="main">
            <section class="task-list">
                <h2 class="head_middle"><a href="#/task-list-add-task">Daily Task List +</a></h2>
                <div class="tab tab_task-list">
                    <a class="tab__item nepal" href="#/task-list">
                        To Do
                    </a>
                    <a class="tab__item white" href="#/task-list-done">
                        Done
                    </a>
                </div>
                
                 <ul class="task-list__list task-list__list_todo remove-mode" id="todo">
                    {{!-- <li class="task-list__item task-list__item_hobby">
                        <div class="task-list__trash task-list__trash_hobby">
                            <a href="task-list-remove-task.html">
                                <span class="icon-trash trash"></span>
                                <span class="icon-close close"></span>
                            </a>
                        </div>
                        <span class="task-list__content">
                            <p class="task-list__title task-list__title_urgent">Lorem ipsum sit amet</p>
                            <p class="task-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore</p>
                        </span>
                        <a class="task-list__link" data-title="Edit task" href="task-list-edit-task.html"><span
                                class="icon-edit"></span></a></span>
                        <span class="task-list__pomodoros task-list__pomodoros_urgent pomodoros">
                            <p class="pomodoros__digit">3</p>
                            <a class="task-list__image pomodoros__image" href="timer.html" data-title="Go to Timer">
                                <span class="icon-tomato"></span>
                                <span class="icon-timer"></span>
                            </a>
                        </span>
                    </li>
                    <li class="task-list__item task-list__item_sport">

                        <div class="task-list__trash task-list__trash_sport">
                            <a href="task-list-remove-task.html">
                                <span class="icon-trash trash"></span>
                                <span class="icon-close close"></span>
                            </a>
                        </div>
                        <span class="task-list__content">
                            <p class="task-list__title task-list__title_high">Lorem ipsum sit amet</p>
                            <p class="task-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore</p>
                        </span>
                        <a class="task-list__link" data-title="Edit task" href="task-list-edit-task.html"><span
                                class="icon-edit"></span></a></span>
                        <span class="task-list__pomodoros task-list__pomodoros_high pomodoros">
                            <p class="pomodoros__digit">3</p>
                            <a class="task-list__image pomodoros__image" href="timer.html" data-title="Go to Timer">
                                <span class="icon-tomato"></span>
                                <span class="icon-timer"></span>
                            </a>
                        </span>
                    </li>
                    <li class="task-list__item task-list__item_work">

                        <div class="task-list__trash task-list__trash_work">
                            <a href="task-list-remove-task.html"><span class="icon-trash trash"></span>
                                <span class="icon-close close"></span>
                            </a>
                        </div>
                        <span class="task-list__content">
                            <p class="task-list__title task-list__title_high">Lorem ipsum sit amet</p>
                            <p class="task-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore</p>
                        </span>
                        <a class="task-list__link" data-title="Edit task" href="task-list-edit-task.html"><span
                                class="icon-edit"></span></a></span>
                        <span class="task-list__pomodoros task-list__pomodoros_high pomodoros">
                            <p class="pomodoros__digit">3</p>
                            <a class="task-list__image pomodoros__image" href="timer.html" data-title="Go to Timer">
                                <span class="icon-tomato"></span>
                                <span class="icon-timer"></span>
                            </a>
                        </span>
                    </li>
                    <li class="task-list__item task-list__item_education">

                        <div class="task-list__trash task-list__trash_education">
                            <a href="task-list-remove-task.html"><span class="icon-trash trash"></span>
                                <span class="icon-close close"></span>
                            </a>
                        </div>
                        <span class="task-list__content">
                            <p class="task-list__title task-list__title_middle">Lorem ipsum sit amet</p>
                            <p class="task-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore</p>
                        </span>
                        <a class="task-list__link" data-title="Edit task" href="task-list-edit-task.html"><span
                                class="icon-edit"></span></a></span>
                        <span class="task-list__pomodoros task-list__pomodoros_middle pomodoros">
                            <p class="pomodoros__digit">3</p>
                            <a class="task-list__image pomodoros__image" href="timer.html" data-title="Go to Timer">
                                <span class="icon-tomato"></span>
                                <span class="icon-timer"></span>
                            </a>
                        </span>
                    </li>
                    <li class="task-list__item task-list__item_other">

                        <div class="task-list__trash task-list__trash_other">
                            <a href="task-list-remove-task.html"><span class="icon-trash trash"></span>
                                <span class="icon-close close"></span>
                            </a>
                        </div>
                        <span class="task-list__content">
                            <p class="task-list__title task-list__title_low">Lorem ipsum sit amet</p>
                            <p class="task-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore</p>
                        </span>
                        <a class="task-list__link" data-title="Edit task" href="task-list-edit-task.html"><span
                                class="icon-edit"></span></a></span>
                        <span class="task-list__pomodoros task-list__pomodoros_low pomodoros">
                            <p class="pomodoros__digit">3</p>
                            <a class="task-list__image pomodoros__image" href="timer.html" data-title="Go to Timer">
                                <span class="icon-tomato"></span>
                                <span class="icon-timer"></span>
                            </a>
                        </span>
                    </li> --}}
            
                </ul>

            </section>
        </main>
        <footer class="footer task-list__footer">
            <div class="global-list"><a class="global-list__link" data-title="Go to Global List"
                    href="#/task-list-global-list">Global list &gt;</a></div>
        </footer>