<main class="main">
    <section class="task-list">
        <h2 class="head_middle">
            <a href="">Daily Task List +</a>
        </h2>

        <div class="first-message">
            <a href=""><img class="first-message__image" src="/images/tomato-add.svg" alt="tomato add"></a>
            <p class="first-message__title">
                Add your first task
            </p> 
        </div>
    </section>
</main>
