      <div class="cycle">
                    <h3 class="cycle__head head_small">Your cycle</h3>
                    <div class="cycle__holder timeline">
                        <div class="timeline__items">
                            <div class="timeline__work"></div>
                            <div class="timeline__short-break"></div>
                            <div class="timeline__long-break"></div>
                        </div>
                        <div class="timeline__scale"></div>
                    </div>
                    <div class="cycle__buttons">
                        <button class="button button_ok"
                            onclick="window.location.href='#/task-list-first-entrance'">Go to Tasks</button>
                        <button class="button button_save"
                            onclick="window.location.href='#/task-list-first-entrance'">Save</button>
                    </div>
                </div>