<main class="main">
    <section class="task-list">
        <h2 class="head_middle">
            <a href="">Daily Task List +</a>
        </h2>
        <div class="tab tab_task-list">
            <a class="tab__item white" href="">To Do</a>
            <a class="tab__item nepal" href="">Done</a>
        </div>
        <ul class="task-list__list task-list__list_todo" id="todo"></ul>
        <div class="task-list__tabs">
            <div class="global-list">
                <a class="global-list__link" data-title="Go to Global List" href="#/task-list">Global list &gt;</a>
            </div>
            <div class="tab tab_task-list tab_priority">
                <a class="tab__item white" id="allPriorities">All</a>
                <a class="tab__item" id="urgentPriority">Urgent</a>
                <a class="tab__item" id="highPriority">High</a>
                <a class="tab__item" id="middlePriority">Middle</a>
                <a class="tab__item" id="lowPriority">Low</a>
            </div>
        </div>
    </section>
</main>